@charset "UTF-8";

// setting
@use "setting/fonts";
@use "setting/vars";
@use "setting/reset";
@use "setting/mixin";
@use "setting/common";

//section
@use "section/layout";
@use "section/header";

// @import 대신에 @use 또는 @forward
