@charset "UTF-8";

// setting
@use "setting/fonts";
@use "setting/vars";
@use "setting/reset";
@use "setting/mixin";
@use "setting/common";

//section
@use "section/layout";
@use "section/header";
@use "section/search";
@use "section/today";
@use "section/creator";
@use "section/video";
@use "section/swiper";
@use "section/channel";

// @import 대신에 @use 또는 @forward
