:root {
  --mainfont-nanum: "NanumSquareNeo";
  --mainfont-nexon: "NexonLv1Gothic";

  --black: #000;
  --black100: #161616;
  --black200: #222;
  --black300: #333;
  --black400: #444;
  --black500: #555;

  --blackAlpha: #11111100;
  --blackAlpha100: #11111125;
  --blackAlpha200: #11111149;
  --blackAlpha300: #11111171;
  --blackAlpha400: #111111b2;
  --blackAlpha500: #000000da;

  --white: #fff;
  --white100: #efefef;
  --white200: #b1b0b0;
  --white300: #bababa;
  --white400: #fff;
  --white500: #fff;

  --red: #f00;

  // 폰트 셋팅
  font-family: var(--mainfont-nanum), var(--mainfont-nexon);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 1.4;
  }
}
